@model  Model.Models.Account.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validationMark {
        color: red;
    }
</style>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Change Password</h4>
                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @id = "AddUser" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="validationCustom0001">Old Password</label><span class="validationMark">*</span>
                                        @Html.HiddenFor(m => m.UDID)
                                        @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "OldPassword", @type = "password" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="validationCustom0002">New Password</label><span class="validationMark">*</span>
                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "Password", @type = "password" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="validationCustom0002">Confirm Password</label><span class="validationMark">*</span>
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "ConfirmPassword", @type = "password" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>


                                <div class="">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    @*<button class="btn btn-primary" type="reset">Reset</button>*@
                                </div>

                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!--sdfsdfsdf-->
