@model Model.Models.Home.RegistrationModel
@{
    ViewBag.Title = "Register";
}
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-box col-lg-4 col-md-5 col-sm-8 ">
                    <div class="logo">
                        <a href="~/Home/Index"><img src="/images/WEB-logo.png" class="img-responsive" alt="WEB"></a>
                    </div>
                    <div class="supporters">
                        <img src="/images/supporters.png" class="img-responsive" alt="">
                    </div>

                    <h3>Forgot Password</h3>

                    @if (TempData["ForgetPassword"] != null)
                    {
                        <p class="alert alert-success" id="successMessage">@TempData["ForgetPassword"]</p>
                    }

                    @using (Html.BeginForm("GetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ForgetPassword" }))
                    {
                        <form role="form" id="signup">
                            
                            <div class="form-group col-sm-10 no-padding">
                                @Html.TextBoxFor(m => m.email_id, new { @class = "form-control", @required = "required", placeholder = "email id" })
                                @Html.ValidationMessageFor(model => model.email_id, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group col-sm-10 no-padding">
                                @Html.TextBoxFor(m => m.UserMobile, new { @class = "form-control", @required = "required", placeholder = "mobile number" })
                                @Html.ValidationMessageFor(model => model.UserMobile, "", new { @style = "color:red" })
                            </div>
                            
                            <div class="login-btn-wrap">
                                <input type="submit" title="Save" class="login-btn" value="">
                            </div>
                        </form>

                    }
                        <span class="ext-link"><a href="~/Account/Login">Sign in</a></span>
                </div>
            </div>
            <div class="row">
                <p class="text-footer col-md-12 mt-15"><a href="~/Account/TermsPolicy">Terms and Privacy Policy </a> &copy; Copyright 2018. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


