@model IEnumerable<Model.Models.UserCreation.GetUserCreationModel>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>

        }

        @if (TempData["Failure"] != null)
        {
            <p class="alert alert-danger" id="failureMessage">@TempData["Failure"]</p>

        }
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Users List</h4>
                                <a href="javascript:location.reload(true)" style="vertical-align:central" class="btn btn-primary flex-md-column">Refresh this page</a>
                                <br /><br />
                                <table id="responsive-data-table" class="table respo" style="width:100%">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 100px;">
                                                <label class="ms-checkbox-wrap">
                                                    <input type="checkbox" value="" id="checkAll">
                                                    <i class="ms-checkbox-check"></i>
                                                </label> Action
                                            </th>

                                            <th>Employee Name</th>
                                            <th>Department</th>
                                            <th>Reporting To</th>
                                            <th>EmailId</th>
                                            @*<th>MobileNo</th>*@
                                            @*<th>Password</th>*@
                                            <th>Role</th>
                                            <!--  <th style="width: 95px;">Action</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var GetUserList in Model)
                                        {
                                            <tr role="row" class="odd">

                                                <td>
                                                    @*<label class="ms-checkbox-wrap">
                            <input type="checkbox" name="EmpId" value="@item.EmpId">
                            <i class="ms-checkbox-check"></i>
                        </label>*@

                                                    @Html.ActionLink("Edit", "Edit", new { UDID = GetUserList.UDID }) |

                                                    @Html.ActionLink("Delete", "Delete", new { UDID = GetUserList.UDID }, new { onclick = "return confirm('Are you sure you want to delete this record?');" })
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(m => GetUserList.EmployeeName)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(m => GetUserList.Department)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => GetUserList.ReportingTo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => GetUserList.EmailId)
                                                </td>
                                                @*<td >
                        @Html.DisplayFor(m => GetUserList.MobileNo)
                    </td>*@
                                                @*<td>
                        @Html.DisplayFor(m => GetUserList.Password)
                    </td>*@
                                                <td>
                                                    @Html.DisplayFor(m => GetUserList.Role)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>

                                <div id="dialog" style="display: none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
   



