@model Model.Models.AddTruckPark
@using Model.Models.UserDetail
@using Utility;
@using Model.CommonEnum;
@{
    int roleid = 0;
    int UDID = 0;
    string userId = null;
    if (Session["UserDetails"] != null)
    {
        UserDetailModel userdetail = (UserDetailModel)Session["UserDetails"];
        roleid = userdetail.RoleId;
        userId = userdetail.EmployeeName;
        UDID = userdetail.UDID;
    }

    else
    {
        @Html.Action("LogOut", "Account")
    }
}
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        @*"Add", "Truck", FormMethod.Post, new { enctype = "multipart/form-data", id = "subMitForm" }*@
                        @using (Html.BeginForm("Add", "Truck", FormMethod.Post, new { enctype = "multipart/form-data", id = "subMitForm" }))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Truck No.<span style="color:red;">*</span></label>
                                        @Html.EditorFor(m => m.TruckNo, new { htmlAttributes = new { @class = "form-control", @id = "TruckNo", @required = "required" } })
                                        @Html.ValidationMessageFor(m => m.TruckNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.TruckId, new { @id = "TruckId" })
                                @if (roleid == (int)CommonEnum.Role.EnterpriseAdmin)
                                {
                                    <div class="col-md-6">
                                        <label>Called By Organization<span style="color:red;">*</span></label>
                                        <div>@ViewBag.organizationName</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <label>Called By Organization<span style="color:red;">*</span></label>
                                        @Html.DropDownListFor(m => m.CalledByOrganizationId, (SelectList)ViewBag.OrganizationList, "-- Select--", new { @class = "form-control", @id = "CalledByOrganizationId", @required = "required" })
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Truck Capacity<span style="color:red;">*</span></label>
                                        @Html.DropDownListFor(m => m.TruckCapacityId, (SelectList)ViewBag.TruckCapacityList, "-- Select--", new { @class = "form-control", @id = "TruckCapacityId", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Local Transfer Type<span style="color:red;">*</span></label>
                                        @Html.DropDownListFor(m => m.LocalTransferTypeId, (SelectList)ViewBag.TransferType, "-- Select--", new { @class = "form-control", @id = "LocalTransferTypeId", @required = "required" })
                                    </div>
                                </div>
                            </div>

                            if (roleid == (int)CommonEnum.Role.EnterpriseAdmin || roleid == (int)CommonEnum.Role.EnterpriseGroupAdmin)
                            {
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="filters">
                                        <label for="filter-date">Expected Arrival date</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.ExpectedArrivalDate, new { @class = "form-control", autocomplete = "off", htmlAttributes = new { @id = "ExpectedArrivalDate", @readonly = "readonly" } })
                                            <span class="input-group-append">
                                                <button class="file-upload-browse btn btn-primary" type="button"><i class="ti-time"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="filters">
                                        <label for="filter-date">Expected Departure date</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.ExpectedDepatureDate, new { @class = "form-control", autocomplete = "off", htmlAttributes = new { @id = "ExpectedDepatureDate", @readonly = "readonly" } })
                                            <span class="input-group-append">
                                                <button class="file-upload-browse btn btn-primary" type="button"><i class="ti-time"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Transport Name</label>
                                        @Html.EditorFor(m => m.TransportName, new { htmlAttributes = new { @class = "form-control", @id = "TransportName" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.TransportName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Transport Number</label>&nbsp;<span id="TransportNoerrmsg" style="color:red;"></span>
                                        @Html.EditorFor(m => m.TransportNo, new { htmlAttributes = new { @class = "form-control", @id = "TransportNo", @maxlength = "11" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.TransportNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Driver Name</label>
                                        @Html.EditorFor(m => m.DriverName, new { htmlAttributes = new { @class = "form-control", @id = "DriverName" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.DriverName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Driver Number</label>&nbsp;<span id="DriverNoerrmsg" style="color:red;"></span>
                                        @Html.EditorFor(m => m.DriverNo, new { htmlAttributes = new { @class = "form-control", @id = "DriverNo", @maxlength = "11" } })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.DriverNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Material Type</label>
                                        @Html.DropDownListFor(m => m.MaterialTypeId, (SelectList)ViewBag.MaterialType, "-- Select--", new { @class = "form-control", @id = "MaterialTypeId" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Material Goods</label>
                                        @Html.EditorFor(m => m.MaterialGoods, new { htmlAttributes = new { @class = "form-control", @id = "MaterialGoods" } })
                                    </div>
                                </div>
                            </div>

                            if (roleid == (int)CommonEnum.Role.LFZSecurity)
                            {
                                <button class="btn btn-primary mr-2" type="submit" name="Command" id="Addsubmit" value="CheckIn">Check In</button>
                            }
                            else
                            {
                                <button class="btn btn-primary mr-2" type="submit" name="Command" id="Addsubmit" value="Submit">Submit</button>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank">LAGOS FREE ZONE</a>. All rights reserved.</span>

        </div>
    </footer>

<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
<script src="~/js/sweetalert2.min.js"></script>

@*<script type="text/javascript">
            var message = '@ViewBag.msg';
            var alertType = '@ViewBag.type';
            var alertTitle = '@ViewBag.alertTitle';
            if (message != '')
            {
                sweetAlert(alertTitle, message, alertType).then((value) => {
                    window.location = "/Truck/Add";
                });
            }
</script>*@

